{% import "_includes/forms" as forms %}

<div class="field" id="{{ id }}-address-field">
	<div class="input ltr simplemap--address-field">
		<input class="text simplemap--address fullwidth" type="text"
		       name="{{ name }}[address]" id="{{ id }}-address"
		       autocomplete="off" placeholder="Address"
		       value="{{ value is not null and value.address ? value.address }}">

		<div class="simplemap--lat-lng{{ settings.hideLatLng ? ' hidden' }}">
			<input class="text fullwidth" type="number" name="{{ name }}[lat]"
			       width="19" id="{{ id }}-input-lat" autocomplete="off"
			       placeholder="Lat" step="any"
			       value="{{ value is not null and value.lat is defined ? value.lat }}">

			<input class="text fullwidth" type="number" name="{{ name }}[lng]"
			       width="19" id="{{ id }}-input-lng" autocomplete="off"
			       placeholder="Lng" step="any"
			       value="{{ value is not null and value.lng is defined ? value.lng }}">
		</div>
	</div>
</div>

{% if not settings.hideMap %}
<div id="{{ id }}" class="simplemap--map"></div>
{% endif %}

<input type="hidden" name="{{ name }}[zoom]" value="{{ value is not null and value.zoom is defined and value.zoom is not null ? value.zoom : settings.zoom }}" id="{{ id }}-input-zoom">