{% import "_includes/forms" as forms %}

{# WHY YOU NO SUPPORT STEP CRUFT??? :( #}

{#{{ forms.textField({
	label: "Latitude"|t,
	instructions: 'The maps default latitude',
	placeholder: '51.272154',
	size: 10,
	step: 0.000000000000001,
	id: 'lat',
	name: 'lat',
	value: settings.lat,
	type: 'number'
}) }}#}

<div class="field" id="lat-field">
	<div class="heading">
		<label id="lat-label" for="lat">Latitude</label>
		<div class="instructions"><p>The maps default latitude</p></div>
	</div>
	<div class="input ltr">
		<input class="text" type="number" id="lat" size="10"
		       step="0.000000000000001" name="lat"
		       value="{{ settings.lat }}"
		       autocomplete="off" placeholder="51.272154">
	</div>
</div>

{#{{ forms.textField({
	label: "Longitude"|t,
	instructions: 'The maps default longitude',
	placeholder: '0.514951',
	size: 10,
	step: 0.000000000000001,
	id: 'lng',
	name: 'lng',
	value: settings.lng,
	type: 'number'
}) }}#}

<div class="field" id="lng-field">
	<div class="heading">
		<label id="lng-label" for="lng">Longitude</label>
		<div class="instructions"><p>The maps default longitude</p></div>
	</div>
	<div class="input ltr">
		<input class="text" type="number" id="lng" size="10"
		       step="0.000000000000001" name="lng"
		       value="{{ settings.lng }}"
		       autocomplete="off" placeholder="0.514951">
	</div>
</div>

{{ forms.textField({
	label: "Zoom Level"|t,
	instructions: "The default zoom level"|t,
	placeholder: '12',
	size: 2,
	id: 'zoom',
	name: 'zoom',
	value: settings.zoom,
	type: 'number'
}) }}

{{ forms.textField({
	label: "Height"|t,
	instructions: "The maps height in the input"|t,
	placeholder: '400',
	size: 3,
	id: 'height',
	name: 'height',
	value: settings.height,
	type: 'number'
}) }}

{{ forms.lightswitchField({
	label: "Hide Map"|t,
	instructions: "When on, the map will be hidden leaving just the address auto-complete field"|t,
	id: 'hideMap',
	name: 'hideMap',
	on: settings.hideMap
}) }}

{{ forms.lightswitchField({
	label: "Hide Lat/Lng"|t,
	instructions: "When on, the latitude & longitude fields will be hidden"|t,
	id: 'hideLatLng',
	name: 'hideLatLng',
	on: settings.hideLatLng
}) }}

<hr>

{{ forms.selectField({
	label: "County Restriction"|t,
	instructions: "Restrict the auto-complete by a specific country"|t,
	id: 'countryRestriction',
	name: 'countryRestriction',
	options: countries,
	value: settings.countryRestriction
}) }}

{{ forms.radioGroupField({
	label: "Restrict by Type"|t,
	instructions: "Restrict the auto-complete by a specific type"|t,
	id: 'typeRestriction',
	name: 'typeRestriction',
	options: types,
	value: settings.typeRestriction
}) }}

{% set boundaryRestrictionInput %}
	<label style="color:#8f98a3;font-size:13px;font-weight:600;display:block;margin-bottom:4px">
		<span style="display:inline-block;margin-right:4px">North-east Corner:</span>
		{{ forms.text({
			placeholder: 'Latitude',
			size: 10,
			id: 'boundaryRestrictionNElat',
			name: 'boundaryRestrictionNElat',
			value: settings.boundaryRestrictionNElat,
			type: 'number'
		}) }}
		{{ forms.text({
			placeholder: 'Longitude',
			size: 10,
			id: 'boundaryRestrictionNElng',
			name: 'boundaryRestrictionNElng',
			value: settings.boundaryRestrictionNElng,
			type: 'number'
		}) }}
	</label>
	<label style="color:#8f98a3;font-size:13px;font-weight:600;display:block">
		South-west Corner:
		{{ forms.text({
			placeholder: 'Latitude',
			size: 10,
			id: 'boundaryRestrictionSWlat',
			name: 'boundaryRestrictionSWlat',
			value: settings.boundaryRestrictionSWlat,
			type: 'number'
		}) }}
		{{ forms.text({
			placeholder: 'Longitude',
			size: 10,
			id: 'boundaryRestrictionSWlng',
			name: 'boundaryRestrictionSWlng',
			value: settings.boundaryRestrictionSWlng,
			type: 'number'
		}) }}
	</label>
{% endset %}

{{ forms.field({
	label: "Boundary Restriction"|t,
	instructions: "Restrict the auto-complete to within a specific square boundary"|t
}, boundaryRestrictionInput) }}