{% import "_includes/forms" as forms %}

{{ forms.textField({
	placeholder: 'Address',
	id: id ~ '-address',
	class: 'simplemap--address',
	value: value is not null and value.address ? value.address : '',
}) }}

{% if settings.hideMap != "true" %}
<div id="{{ id }}" class="simplemap--map"></div>
{% endif %}

<input type="hidden" name="{{ name }}[lat]" value="{{ value is not null and value.lat is defined ? value.lat }}" id="{{ id }}-input-lat">
<input type="hidden" name="{{ name }}[lng]" value="{{ value is not null and value.lng is defined ? value.lng }}" id="{{ id }}-input-lng">
<input type="hidden" name="{{ name }}[zoom]" value="{{ value is not null and value.zoom is defined and value.zoom is not null ? value.zoom : settings.zoom }}" id="{{ id }}-input-zoom">
<input type="hidden" name="{{ name }}[address]" value="{{ value is not null and value.address is defined ? value.address }}" id="{{ id }}-input-address">
<input type="hidden" name="{{ name }}[parts]" id="{{ id }}-input-parts-base">

<div id="{{ id }}-input-address-parts" data-name="{{ name }}">
	{% if value is not null and value.parts is defined %}
	{% for key, val in value.parts %}
	<input type="hidden" name="{{ name }}[parts][{{ key }}]" value="{{ val }}">
	{% endfor %}
	{% endif %}
</div>