{% import "_includes/forms" as forms %}

{{ forms.lightswitchField({
	label: "Hide Map"|t("simplemap"),
	instructions: "When on, the map will be hidden leaving just the address search field"|t("simplemap"),
	id: 'hideMap',
	name: 'hideMap',
	on: field.hideMap
}) }}

{{ forms.lightswitchField({
	label: "Hide Lat/Lng"|t("simplemap"),
	instructions: "When on, the latitude & longitude fields will be hidden"|t("simplemap"),
	id: 'hideLatLng',
	name: 'hideLatLng',
	on: field.hideLatLng
}) }}

<input type="hidden" id="lat" name="lat" value="{{ field.lat }}">
<input type="hidden" id="lng" name="lng" value="{{ field.lng }}">
<input type="hidden" id="zoom" name="zoom" value="{{ field.zoom }}">
<input type="hidden" id="height" name="height" value="{{ field.height }}">

{% set settingsMap %}
	<div
		id="settingsMap"
		class="simplemap-settings--settings-map"
		style="height:{{ field.height }}px"
	></div>
	<div
		id="settingsMapHeight"
		class="simplemap-settings--resize"
		title="Drag to resize"
	></div>
{% endset %}
<div
	id="settingsMapWrap"
	class="simplemap-settings--wrap {{ field.hideMap ? 'hide' }}"
>
	{{ forms.field({
		label: "Configure Map"|t("simplemap"),
		instructions: "Move, zoom, and resize the map"|t("simplemap"),
	}, settingsMap) }}
</div>

<hr>

{{ forms.selectField({
	label: "Restrict by Country"|t("simplemap"),
	instructions: "Restrict the address search to a specific country"|t("simplemap"),
	id: 'countryRestriction',
	name: 'countryRestriction',
	options: countries,
	value: field.countryRestriction
}) }}

{{ forms.selectField({
	label: "Restrict by Type"|t("simplemap"),
	instructions: "Restrict the address search to a specific type"|t("simplemap"),
	id: 'typeRestriction',
	name: 'typeRestriction',
	options: types,
	value: field.typeRestriction
}) }}

<input
	type="hidden"
	id="boundaryRestrictionNELat"
	name="boundaryRestrictionNELat"
	value="{{ field.boundaryRestrictionNELat }}"
>
<input
	type="hidden"
	id="boundaryRestrictionNELng"
	name="boundaryRestrictionNELng"
	value="{{ field.boundaryRestrictionNELng }}"
>
<input
	type="hidden"
	id="boundaryRestrictionSWLat"
	name="boundaryRestrictionSWLat"
	value="{{ field.boundaryRestrictionSWLat }}"
>
<input
	type="hidden"
	id="boundaryRestrictionSWLng"
	name="boundaryRestrictionSWLng"
	value="{{ field.boundaryRestrictionSWLng }}"
>

{% set boundaryMap %}
	<button
		id="boundaryButton"
		class="simplemap-settings--boundary-button"
		type="button"
	>
		{{ field.boundaryRestrictionNELat ? "Clear" : "Draw" }} Boundaries
	</button>
	<div class="simplemap-settings--boundary-map-wrap">
		<div
			id="boundaryMap"
			class="simplemap-settings--boundary-map"
		></div>
	</div>
{% endset %}
{{ forms.field({
	label: "Boundary Restriction"|t("simplemap"),
	instructions: "Restrict the address search to within a specific rectangular boundary"|t("simplemap"),
}, boundaryMap) }}