{% import '_includes/forms' as forms %}

<h2>{{ 'Map'|t('simplemap') }}</h2>

{# TODO: Add examples of the styles #}
{{ forms.selectField({
	first: true,
	name: 'mapTiles',
	label: 'Map Tiles'|t('simplemap'),
	instructions: 'Select the style of map tiles.'|t('simplemap'),
	options: mapTileOptions,
	value: settings.mapTiles,
}) }}

{# TODO: Add instructions on how to get API keys for each service #}
{{ forms.textField({
	name: 'mapToken',
	label: 'Map Token'|t('simplemap'),
	instructions: 'Add the API key for map tiles service you are using (leave blank if you\'re using an open source tile set).'|t('simplemap'),
	value: settings.mapToken,
}) }}

<h2>Geo-Coding</h2>

{# TODO: Link to the services? #}
{{ forms.selectField({
	name: 'geoService',
	label: 'Geo Service'|t('simplemap'),
	instructions: 'Select the service to be used for Geo-coding.'|t('simplemap'),
	options: geoServiceOptions,
	value: settings.geoService,
}) }}

{# TODO: Add instructions on how to get API keys for each service #}
{{ forms.textField({
	name: 'geoToken',
	label: 'Geo Token'|t('simplemap'),
	instructions: 'Add the API key for the geo-coding service (leave blank if you\'re using an open source service)'|t('simplemap'),
	value: settings.geoToken,
}) }}